

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: aquamarine;
    line-height: 50px;
    text-align: center;
    text-decoration: overline;
}

.cor-fundo {
    background-color: blueviolet;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}

body {
    font-size: 16px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}